.product-wrapper {
    padding: 70px 0;
}

.products-box {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    width: calc(270*4px + 150px);
}

.product {
    width: 270px;
    height: 100%;
    position: relative;

    svg {
        cursor: pointer;
    }

    .like-red {
        fill: red;
    }
    .like-no {
        fill:none
    }
    .basket-red {
        stroke: red;
    }
    .basket-no {
        stroke: "#807D7E";
    }
    .basket {
        position: absolute;
        right: 10px;
        top: 10px;
        width: 20px;
        height: 20px;
    }

    .like {
        position: absolute;
        right: 40px;
        top: 10px;
        width: 20px;
        height: 20px;
    }

    &__image {}

    &__info-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 5px;
    }

    &__text {
        text-align: left;
        color: #7F7F7F;
    }

    &__title {
        font-size: 20px;
        font-weight: 700;
        line-height: 28px;
        color: black;
    }

    p {
        padding-top: 5px;
    }
}